<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ 'jquery.marquee.min.js' | asset_url | script_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick.min.js' | asset_url | script_tag }}
    <script src="{{ 'config.js' | asset_url }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {{ 'font.css' | asset_url | stylesheet_tag }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'header.js' | asset_url }}" defer></script>
    <script src="{{ 'MegaMenu.js' | asset_url }}" defer></script>
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {{ 'mobile-nav.css' | asset_url | stylesheet_tag }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer=""></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      media="all"
      onload="this.media='all'"
    >
    {{ 'oke-review.css' | asset_url | stylesheet_tag }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Athiti:wght@200;300;400;500;600;700&family=Besley:ital,wght@0,400..900;1,400..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Scheherazade+New:wght@400;500;600;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Old+Mincho&display=swap"
      rel="stylesheet"
    >
  </head>
  <body>
    {% sections 'header-group' %}
    <main>{{ content_for_layout }}</main>
    {% sections 'footer-group' %}
  </body>
</html>
