{{ 'pdp-media-gallery.css' | asset_url | stylesheet_tag }}
{{ 'pdp-details.css' | asset_url | stylesheet_tag }}
{{ 'pdp-media-gallery.js' | asset_url | script_tag }}

<div class="bg-[var(--bg-gis-second-primary)]">
  <div class="pdp-details-media-gallery-container  py-10">
    <div>
      <div class="pdp-media-gallery video_play_list">
        {%- comment -%} Mobile Slider {%- endcomment -%}
        <div
          class="splide mobile-slider splide--slide splide--ltr splide--draggable is-active is-initialized"
          id="splide-slider"
          data-testid="pdp-mobile-slider"
          role="region"
          aria-roledescription="carousel"
          data-acsb-carousel="true"
          data-acsb-force-visible="true"
          aria-label="Carousel"
        >
          <div
            class="splide__track splide__track--slide splide__track--ltr splide__track--draggable"
            id="splide-slider-track"
            style="padding-left: 0px; padding-right: 0px;"
            aria-atomic="true"
            data-acsb-overflower="true"
            data-acsb-hidden="true"
          >
            <ul class="splide__list" id="splide-slider-list" style="transform: translateX(0px);">
              {% for media in product.media %}
                <li
                  class="splide__slide {% if forloop.first %}is-active is-visible{% elsif forloop.index == 2 %}is-next is-visible{% else %}is-visible{% endif %}"
                  data-index="{{ forloop.index0 }}"
                  id="splide-slider-slide0{{ forloop.index }}"
                  aria-roledescription="slide"
                  aria-label="{{ forloop.index }} of {{ product.media.size }}"
                  style="width: calc(100%);"
                  {% unless forloop.index <= 2 %}
                    data-acsb-hidden="true"
                  {% endunless %}
                >
                  {% if forloop.first and product.metafields.custom.limited_edition %}
                    <div class="product-badges mobile">
                      <div class="badge-text">{{ product.metafields.custom.limited_edition }}</div>
                    </div>
                  {% endif %}

                  {% if forloop.first and product.metafields.custom.mobile_video %}
                    <video
                      class="product-mobile-video"
                      autoplay
                      muted
                      loop
                      playsinline
                      preload="metadata"
                      src="{{ product.metafields.custom.mobile_video }}"
                    ></video>
                  {% endif %}

                  <div
                    class="slider-item"
                    {% unless forloop.index <= 2 %}
                      data-acsb-overflower="true"
                    {% endunless %}
                  >
                    {% if media.media_type == 'image' %}
                      <img
                        src="{{ media | image_url: width: 600 }}"
                        srcset="{{ media | image_url: width: 300 }} 300w, {{ media | image_url: width: 600 }} 600w, {{ media | image_url: width: 900 }} 900w"
                        sizes="(max-width: 600px) 100vw, 600px"
                        width="600"
                        height="600"
                        alt="{{ media.alt | default: product.title | escape }}"
                        loading="{% if forloop.first %}eager{% else %}lazy{% endif %}"
                        class="media-thumbnail main-image-media-gallery modal-trigger"
                      >
                    {% elsif media.media_type == 'video' %}
                      <div
                        class="video_with_icon_new grid-item-4 play_icon_new"
                        data-acsb-clickable="true"
                        data-acsb-navigable="true"
                        data-acsb-now-navigable="false"
                      >
                        <div class="video_with_icon_inner_new">
                          <svg
                            class="play_icon"
                            width="70"
                            height="36"
                            viewBox="0 0 70 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M51.5 0.5H18.5C8.83502 0.5 1 8.33502 1 18C1 27.665 8.83502 35.5 18.5 35.5H51.5C61.165 35.5 69 27.665 69 18C69 8.33502 61.165 0.5 51.5 0.5Z" stroke="#FFFDF1"></path>
                            <path d="M44.8957 17.5338C45.3229 17.6982 45.3229 18.3026 44.8957 18.467L28.4296 24.8048C28.1021 24.9309 27.75 24.6892 27.75 24.3382V11.6626C27.75 11.3116 28.1021 11.0699 28.4296 11.196L44.8957 17.5338Z" stroke="#FFFDF1" stroke-linejoin="round"></path>
                          </svg>
                          <video
                            playsinline
                            loop
                            preload="metadata"
                            poster="{{ media.preview_image | image_url }}"
                            video_url="{{ media.sources[1].url }}"
                          ></video>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="desktop-slider" data-testid="pdp-desktop-slider" data-acsb-hidden="false">
          <div class="images-grid extra-height">
            {% for media in product.media limit: 4 %}
              {% if media.media_type == 'image' %}
                <img
                  width="{% if forloop.first %}448{% else %}200{% endif %}"
                  height="{% if forloop.first %}448{% else %}200{% endif %}"
                  class="grid-item-{{ forloop.index }} modal-trigger"
                  src="{{ media | image_url: width: 768 }}"
                  srcset="{{ media | image_url: width: 375 }} 375w, {{ media | image_url: width: 550 }} 550w, {{ media | image_url: width: 768 }} 768w"
                  sizes="(max-width: 1024px) 100vw, {% if forloop.first %}448{% else %}200{% endif %}px"
                  alt="{{ media.alt | default: product.title | escape }}"
                  loading="eager"
                >
              {% elsif media.media_type == 'video' %}
                <div
                  class="video_with_icon_new grid-item-{{ forloop.index }} play_icon_new"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  tabindex="0"
                >
                  <div class="video_with_icon_inner_new">
                    <svg
                      class="play_icon"
                      width="70"
                      height="36"
                      viewBox="0 0 70 36"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      data-acsb-hidden="true"
                    >
                      <path d="M51.5 0.5H18.5C8.83502 0.5 1 8.33502 1 18C1 27.665 8.83502 35.5 18.5 35.5H51.5C61.165 35.5 69 27.665 69 18C69 8.33502 61.165 0.5 51.5 0.5Z" stroke="#FFFDF1"></path>
                      <path d="M44.8957 17.5338C45.3229 17.6982 45.3229 18.3026 44.8957 18.467L28.4296 24.8048C28.1021 24.9309 27.75 24.6892 27.75 24.3382V11.6626C27.75 11.3116 28.1021 11.0699 28.4296 11.196L44.8957 17.5338Z" stroke="#FFFDF1" stroke-linejoin="round"></path>
                    </svg>
                    <video
                      playsinline
                      loop
                      preload="metadata"
                      poster="{{ media.preview_image | image_url }}"
                      video_url="{{ media.sources[1].url }}"
                    ></video>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="images-grid-bottom">
            {% comment %} Load images from product metafields {% endcomment %}
            {% if product.metafields.custom.image_grid_button %}
              {% comment %} Debug: Show what we have in metafield {% endcomment %}
              {% comment %} {{ product.metafields.custom.image_grid_button.value | json }} {% endcomment %}

              {% comment %} Access metafield values directly {% endcomment %}
              {% for metafield_image in product.metafields.custom.image_grid_button.value limit: 2 %}
                <img
                  width="1024"
                  height="1024"
                  class="grid-item-{{ forloop.index | plus: 4 }} modal-trigger metafield-bottom-image"
                  src="{{ metafield_image | image_url: width: 666 }}"
                  srcset="{{ metafield_image | image_url: width: 375 }} 375w, {{ metafield_image | image_url: width: 550 }} 550w, {{ metafield_image | image_url: width: 768 }} 768w"
                  sizes="(max-width: 1024px) 100vw, 666px"
                  alt="{{ metafield_image.alt | default: product.title | escape }}"
                  loading="lazy"
                >
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {%- comment -%} Product Details {%- endcomment -%}
    <div class="pdp-details-container">
      <div class="product-badges-wrapper">
        <div class="pdp-details-reviews-container test">
          {% if product.metafields.custom.reviews_widget %}
            {{ product.metafields.custom.reviews_widget }}
          {% endif %}
        </div>

        {% if product.metafields.custom.limited_edition %}
          <div class="product-badges desktop" data-acsb-hidden="false">
            <div class="badge-text">{{ product.metafields.custom.limited_edition }}</div>
          </div>
        {% endif %}
      </div>

      <div
        class="h1 pdp-details-title"
        style="color: {{ section.settings.title_color }};"
        data-acsb-fake-title="true"
        role="heading"
        aria-level="1"
      >
        {{ product.title }}
      </div>

      {% if product.tags.size > 0 %}
        <p class="product-tags">{{ product.tags | join: ' · ' | upcase }}</p>
      {% endif %}

      {% if product.metafields.custom.meta_tags %}
        <div class="product-metafields-tags">
          {% assign meta_tags = product.metafields.custom.meta_tags | split: '|' %}
          {% for tag in meta_tags %}
            <div class="product-metafields-tag">{{ tag }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="pdp-details-description-text">
        <div class="description-content" data-acsb-overflower="true">
          {{ product.description }}
        </div>
      </div>

      {% if product.selling_plan_groups.size > 0 %}
        <div class="rc-section-heading" style="display: block;" data-acsb-hidden="true">Frequency</div>

        <div
          id="custom-subscription-options"
          data-per-day-price="{{ product.metafields.custom.per_day_price }}"
          data-onetime-price="{{ product.price | money_without_trailing_zeros }}"
          style="display: flex;"
          data-acsb-hidden="true"
        >
          {% assign subscription_plans = product.selling_plan_groups.first.selling_plans %}
          {% for plan in subscription_plans %}
            <button
              class="subscription-button {% if forloop.first %}active{% endif %}"
              data-value="{{ plan.id }}"
              data-acsb-clickable="true"
              data-acsb-navigable="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
              data-custom-button-processed="true"
            >
              {{ plan.name }}
            </button>
          {% endfor %}
        </div>
      {% endif %}

      {% comment %} Variant product list based on product options {% endcomment %}
      {% if product.options.size > 0 and product.variants.size > 1 %}
        <div class="Meta_stitch_product_list_main_new">
          <div class="Meta_stitch_product_list_inner_new">
            <h3>LIMITED EDITION:</h3>
            <div class="Meta_stitch_product_list_title_new">{{ product.options.first.name }}</div>
            <div class="Meta_stitch_product_list_mainloops_new">
              <div class="Meta_stitch_product_list_innerloops_new">
                {% for variant in product.variants %}
                  <div class="Meta_stitch_product_list_innerloops_mainboxs_new {% if variant.id == product.selected_or_first_available_variant.id %}active{% endif %}">
                    <a
                      href="?variant={{ variant.id }}"
                      data-product-handle="{{ product.handle }}"
                      data-acsb-clickable="true"
                      data-acsb-navigable="true"
                      data-acsb-now-navigable="true"
                      data-custom-button-processed="true"
                    >
                      <div class="Meta_stitch_product_list_innerloops_innerboxs_new">
                        <div class="Meta_stitch_product_list_innerloops_innerboxs_image_new">
                          {% if variant.image %}
                            <img
                              src="{{ variant.image | image_url: width: 1500 }}"
                              alt="{{ variant.title }}"
                              srcset="{{ variant.image | image_url: width: 750 }} 750w, {{ variant.image | image_url: width: 900 }} 900w, {{ variant.image | image_url: width: 1080 }} 1080w, {{ variant.image | image_url: width: 1296 }} 1296w"
                              width="1500"
                              height="676"
                              fetchpriority="auto"
                              class="Static_image_new"
                            >
                          {% else %}
                            <img
                              src="{{ product.featured_image | image_url: width: 1500 }}"
                              alt="{{ variant.title }}"
                              srcset="{{ product.featured_image | image_url: width: 750 }} 750w, {{ product.featured_image | image_url: width: 900 }} 900w, {{ product.featured_image | image_url: width: 1080 }} 1080w, {{ product.featured_image | image_url: width: 1296 }} 1296w"
                              width="1500"
                              height="676"
                              fetchpriority="auto"
                              class="Static_image_new"
                            >
                          {% endif %}
                        </div>
                        <div class="Meta_stitch_product_list_innerloops_innerboxs_name_new">{{ variant.title }}</div>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div style="flex: 1; width: 100%;">
        <product-form class="product-form" data-hide-errors="false" data-section-id="{{ section.id }}">
          <div class="product-form__error-message-wrapper" role="alert" hidden data-acsb-hidden="true">
            <span class="svg-wrapper">
              <svg class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="2"></circle>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"></circle>
                <path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"></path>
                <path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"></path>
              </svg>
            </span>
            <span class="product-form__error-message"></span>
          </div>

          <form
            method="post"
            action="/cart/add"
            id="product-form-{{ section.id }}"
            accept-charset="UTF-8"
            class="form"
            enctype="multipart/form-data"
            data-type="add-to-cart-form"
          >
            <input
              name="selling_plan"
              type="hidden"
              value="{% if product.selected_or_first_available_selling_plan_allocation %}{{ product.selected_or_first_available_selling_plan_allocation.selling_plan.id }}{% endif %}"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
            <input
              type="hidden"
              name="form_type"
              value="product"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
            <input
              type="hidden"
              name="utf8"
              value="✓"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              class="product-variant-id"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
            <input
              type="hidden"
              name="type"
              value=""
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >

            <div class="product-form__buttons">
              <button
                type="submit"
                name="add"
                class="h5 cta-gig-primary add-to-cart button cta product-grid-button ProductSubmitButton ProductSubmitButton-{{ section.id }}"
                aria-haspopup="dialog"
                data-acsb-overflower="true"
                data-acsb-clickable="true"
                data-acsb-navigable="true"
                data-acsb-now-navigable="true"
                data-custom-button-processed="true"
                {% unless product.available %}
                  disabled
                {% endunless %}
              >
                <span>
                  {%- if product.metafields.custom.button_text -%}
                    {{- product.metafields.custom.button_text -}}
                  {%- else -%}
                    ADD TO CART
                  {%- endif -%}
                </span>
                <span class="dash">-</span>
                <span
                  id="atc-price"
                  js-atc-price
                  data-variant-without-discount-price="{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}"
                  data-variant-price="{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}"
                  data-variant-compare-price="{% if product.selected_or_first_available_variant.compare_at_price %}{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}{% endif %}"
                >
                  <span class="product-grid-item-atc-price texts" js-normal-price>
                    {{- product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
                  </span>
                  {% if product.selected_or_first_available_variant.compare_at_price %}
                    <span class="regular-price" js-compare-price>
                      {{-
                        product.selected_or_first_available_variant.compare_at_price
                        | money_without_trailing_zeros
                      -}}
                    </span>
                  {% endif %}
                </span>
                <div class="loading__spinner hidden" data-acsb-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66">
                    <circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle>
                  </svg>
                </div>
              </button>
            </div>

            {% if product.metafields.custom.ship_date %}
              <div style="display: flex; justify-content: center; padding-top: 10px;" class="meta__shipdate">
                {{ product.metafields.custom.ship_date }}
              </div>
              <input
                type="hidden"
                name="properties[Estimated Ship Date]"
                value="{{ product.metafields.custom.ship_date }}"
                data-acsb-hidden="true"
                tabindex="-1"
                data-acsb-now-navigable="false"
              >
            {% endif %}

            <input
              type="hidden"
              name="product-id"
              value="{{ product.id }}"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
            <input
              type="hidden"
              name="section-id"
              value="{{ section.id }}"
              data-acsb-hidden="true"
              tabindex="-1"
              data-acsb-now-navigable="false"
            >
          </form>
        </product-form>
      </div>

      {%- comment -%} Product Accordion {%- endcomment -%}
      <div class="product-accordion">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'accordion' %}
              <div class="details-wrapper">
                <details id="block-summary_{{ block.id }}" class="details" {{ block.shopify_attributes }}>
                  <summary
                    data-acsb-clickable="true"
                    data-acsb-navigable="true"
                    tabindex="0"
                    data-acsb-now-navigable="true"
                  >
                    <span>{{ block.settings.title }}</span>
                  </summary>
                  <div class="body1 summary-content font-monospace-mix-all">
                    {{ block.settings.content }}
                  </div>
                </details>
              </div>
          {% endcase %}
        {% endfor %}
      </div>

      {%- comment -%} Pro Tip Upsell {%- endcomment -%}
      {% if section.settings.upsell_product != blank %}
        {% assign upsell_product = all_products[section.settings.upsell_product] %}
        {% if upsell_product != blank %}
          <div class="pro-tip-container">
            <div class="pro-tip-heading">{{ section.settings.upsell_heading }}</div>
            <div class="pro-tip-item">
              <div class="product-image">
                <a
                  href="{{ upsell_product.url }}"
                  data-acsb-clickable="true"
                  data-acsb-navigable="true"
                  data-acsb-now-navigable="true"
                  data-custom-button-processed="true"
                >
                  <img
                    src="{{ upsell_product.featured_image | image_url: width: 1000 }}"
                    alt="{{ upsell_product.title }}"
                    width="auto"
                    height="auto"
                    loading="lazy"
                  >
                </a>
              </div>
              <div class="pro-tip-item-content">
                <div class="product-title">
                  <a
                    href="{{ upsell_product.url }}"
                    data-acsb-clickable="true"
                    data-acsb-navigable="true"
                    data-acsb-now-navigable="true"
                    data-custom-button-processed="true"
                  >
                    <h4 role="heading" aria-level="2">{{ upsell_product.title }}</h4>
                  </a>
                </div>
                <product-form>
                  <form
                    action="/cart/add"
                    data-productid="{{ upsell_product.id }}"
                    method="post"
                    enctype="multipart/form-data"
                    id="add-to-cart-{{ upsell_product.handle }}--{{ section.id }}"
                  >
                    <input
                      type="hidden"
                      name="id"
                      value="{{ upsell_product.selected_or_first_available_variant.id }}"
                      class="product-variant-id"
                      id="variant-id-{{ upsell_product.id }}"
                      data-acsb-hidden="true"
                      tabindex="-1"
                      data-acsb-now-navigable="false"
                    >
                    <input
                      type="hidden"
                      name="type"
                      value=""
                      data-acsb-hidden="true"
                      tabindex="-1"
                      data-acsb-now-navigable="false"
                    >
                    <input
                      type="hidden"
                      name="quantity"
                      value="1"
                      min="1"
                      maxlength="12"
                      id="Quantity"
                      data-acsb-hidden="true"
                      tabindex="-1"
                      data-acsb-now-navigable="false"
                    >
                    <button
                      type="submit"
                      name="add"
                      data-add-to-cart
                      class="upsell-atc-btn add-to-cart cta cta-gig-secondary product-grid-button button"
                      aria-haspopup="dialog"
                      data-acsb-overflower="true"
                      data-acsb-clickable="true"
                      data-acsb-navigable="true"
                      data-acsb-now-navigable="true"
                      data-custom-button-processed="true"
                    >
                      <span data-add-to-cart-text
                        >ADD TO CART -
                        <span class="product-grid-item-atc-price">
                          {{-
                            upsell_product.selected_or_first_available_variant.price
                            | money_without_trailing_zeros
                          -}}
                        </span></span
                      >
                      <div class="loading__spinner hidden" data-acsb-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="0 0 66 66">
                          <circle stroke-width="6" cx="33" cy="33" r="30" fill="none" class="path"></circle>
                        </svg>
                      </div>
                    </button>
                  </form>
                </product-form>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#1b365d"
    },
    {
      "type": "text",
      "id": "upsell_product",
      "label": "Upsell Product Handle",
      "info": "Enter product handle (e.g., mint-roller)"
    },
    {
      "type": "text",
      "id": "upsell_heading",
      "label": "Upsell Heading",
      "default": "Pro Tip: Tap into the power of cold therapy"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Accordion Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<ul><li>List item 1</li><li>List item 2</li></ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Information",
      "blocks": [
        {
          "type": "accordion",
          "settings": {
            "title": "Benefits",
            "content": "<ul><li>May help strengthen/define jawline</li><li>May create a stronger chin profile</li><li>Deep rest may help your eyes appear brighter</li><li>May help you wake up more energized</li><li>May help reduce snoring and bad breath</li></ul>"
          }
        },
        {
          "type": "accordion",
          "settings": {
            "title": "How To Use",
            "content": "<ul><li>When you've finished your nighttime routine apply mouth tape over the lips and prepare for a deep sleep. When removing the tape the next morning, pull skin taut and gently remove</li></ul>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
